<main class="main">
  <aside class="navigation">
    <div class="navigation-icon">
      <img src="./../../assets/icons/bars.svg" />
    </div>
    <div class="bunch">
      <span class="bunch-title">costumers</span>
      <ul class="list">
        <li class="item" routerLink="/accounts" routerLinkActive="item--active">
          <span class="item-icon">
            <img src="./../../assets/icons/accounts.svg" alt="accounts" />
          </span>
          <span class="item-name">accounts</span>
        </li>
        <li class="item" routerLink="/contacts" routerLinkActive="item--active">
          <span class="item-icon">
            <img src="./../../assets/icons/contacts.svg" alt="contacts" />
          </span>
          <span class="item-name">contacts</span>
        </li>
      </ul>
    </div>
    <div class="service">
      <div class="service-icon">s</div>
      <div class="service-name">services</div>
    </div>
  </aside>
  <div class="router">
    <router-outlet></router-outlet>
  </div>
</main>
