@import "./../accounts/accounts.component.scss";

.profile {
  display: flex;
  align-items: center;

  padding: 0 30px;

  &-img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: $blue;

    text-transform: capitalize;
    font-weight: bold;
    color: white;
  }

  &-user {
    text-transform: capitalize;
  }

  &-name {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
  }
}

.info {
  &-navigation {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid $greyDarker;
  }

  &-tab {
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 3px solid $blue;
    text-transform: capitalize;
  }

  &-body {
    width: 500px;
    border: 1px solid $greyDarker;
    padding: 5px 10px;
  }

  &-title {
    text-transform: uppercase;
  }
}

.list {
  padding: 10px;
  &-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid $greyDarker;
  }

  &-name {
    flex: 1;
  }

  &-value {
    flex: 2;

    font-weight: bold;
  }
}
