<div class="container">
  <div class="header">
    <div class="header-backward" routerLink="../">
      <img src="./../../../assets/icons/long-arrow-left.svg" alt="" />
    </div>
    <ul class="buttons-list">
      <li class="item">
        <span class="item-icon"
          ><img src="./../../../assets/icons/save.svg" alt="save"
        /></span>
        <span class="item-name">save</span>
      </li>
      <li class="item">
        <span class="item-icon"
          ><img
            src="./../../../assets/icons/saveandclose.svg"
            alt="save and close"
        /></span>
        <span class="item-name">save and close</span>
      </li>
      <li class="item" [routerLink]="componentRoute + '/create'">
        <span class="item-icon"
          ><img src="./../../../assets/icons/add.svg" alt="add"
        /></span>
        <span class="item-name">new</span>
      </li>
      <li class="item" (click)="deleteUser()">
        <span class="item-icon"
          ><img src="./../../../assets/icons/delete.svg" alt="delete"
        /></span>
        <span class="item-name">delete</span>
      </li>
    </ul>
  </div>
  <main class="main">
    <div class="profile">
      <div class="profile-img">{{ usernameCharacter(user.name) }}</div>
      <div class="profile-info">
        <h3 class="profile-user">{{ user.name }}</h3>
        <div class="profile-name">account</div>
      </div>
    </div>
    <div class="info-user">
      <div class="info-navigation">
        <span class="info-tab">summary</span>
      </div>
      <div class="info-body">
        <h4 class="info-title">{{ componentRoute.slice(1) }} information</h4>
        <form>
          <ul class="list">
            <li class="list-item">
              <label for="username" class="list-name">Account Name</label>
              <input
                class="list-value"
                type="text"
                id="username"
                [value]="user.name"
              />
            </li>
            <li class="list-item">
              <label for="phone" class="list-name">Phone</label>
              <input
                class="list-value"
                type="text"
                id="phone"
                [value]="user.phone"
              />
            </li>
            <li class="list-item">
              <label for="adress" class="list-name">Address</label>
              <input
                class="list-value"
                type="text"
                id="adress"
                [value]="user.address?.city"
              />
            </li>
            <li class="list-item">
              <label for="email" class="list-name">Email</label>
              <input
                class="list-value"
                type="text"
                id="email"
                [value]="user.email"
              />
            </li>
          </ul>
        </form>
      </div>
    </div>
  </main>
  <footer class="footer"></footer>
</div>
