@import "./../golab-variables.scss";
.log-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.buttons {
  display: flex;
  flex-direction: column;
}

button {
  width: 110px;
  height: 30px;
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  background-color: $greyDarker;
  text-transform: capitalize;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
