<div class="container">
  <div class="header">
    <div class="header-backward" routerLink="../">
      <img src="./../../../assets/icons/long-arrow-left.svg" alt="" />
    </div>
    <ul class="buttons-list">
      <li class="item">
        <span class="item-icon"
          ><img src="./../../../assets/icons/save.svg" alt="save"
        /></span>
        <span class="item-name">save</span>
      </li>
      <li class="item">
        <span class="item-icon"
          ><img
            src="./../../../assets/icons/saveandclose.svg"
            alt="save and close"
        /></span>
        <span class="item-name">save and close</span>
      </li>
      <li class="item">
        <span class="item-icon"
          ><img src="./../../../assets/icons/add.svg" alt="add"
        /></span>
        <span class="item-name">new</span>
      </li>
      <li class="item">
        <span class="item-icon"
          ><img src="./../../../assets/icons/delete.svg" alt="delete"
        /></span>
        <span class="item-name">delete</span>
      </li>
    </ul>
  </div>
  <main class="main">
    <div class="profile">
      <div class="profile-img">AD</div>
      <div class="profile-info">
        <h4 class="profile-user">{{ user.name }}</h4>
        <div class="profile-name">account</div>
      </div>
    </div>
    <div class="info-user">
      <div class="info-navigation">
        <span class="info-tab">summary</span>
      </div>
      <div class="info-body">
        <h4 class="info-title">account information</h4>
        <ul class="list">
          <li class="list-item">
            <span class="list-name">Account Name</span>
            <span class="list-value">{{ user.name }}</span>
          </li>
          <li class="list-item">
            <span class="list-name">Phone</span>
            <span class="list-value">{{ user.phone }}</span>
          </li>
          <li class="list-item">
            <span class="list-name">Address</span>
            <span class="list-value">{{ user.address?.city }}</span>
          </li>
          <li class="list-item">
            <span class="list-name">Email</span>
            <span class="list-value">{{ user.email }}</span>
          </li>
        </ul>
      </div>
    </div>
  </main>
  <footer class="footer"></footer>
</div>
